{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <form
            action="{% url 'produto' %}"
            method="post"
            class="form"
            autocomplete="off"
            enctype="multipart/form-data"
        >
            {% bootstrap_messages %}
            <h1>Produto</h1>
            {% csrf_token %} 
            {% bootstrap_form form %} 
            <button type="submit" class="btn btn-primary">
                Enviar Mensagem
            </button>
        </form>
    </div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>